@font-face {
  font-family: 'Poppins-Light', sans-serif;
  src: url(./Poppins-Light.ttf);
    font-weight: 300;
  }

@font-face {
  font-family: 'Poppins-Regular', sans-serif;
  src: url(./Poppins-Regular.ttf);
   font-weight: 400;
  }

@font-face {
  font-family: 'Poppins-Medium', sans-serif;
  src: url(./Poppins-Medium.ttf);
   font-weight: 500;
  }

@font-face {
  font-family: 'Poppins-SemiBold', sans-serif;
  src: url(./Poppins-SemiBold.ttf);
   font-weight: 600;
  }

@font-face {
  font-family: 'Poppins-Bold', sans-serif;
  src: url(./Poppins-Bold.ttf);
   font-weight: 700;
   }


@font-face {
  font-family: 'Poppins-ExtraBold', sans-serif;
  src: url(./Poppins-ExtraBold.ttf);
  font-weight: 800;
  }


