@font-face {
  font-family: "Poppins-Light", sans-serif;
  src: url(./Poppins-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Poppins-Regular", sans-serif;
  src: url(./Poppins-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Poppins-Medium", sans-serif;
  src: url(./Poppins-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Poppins-SemiBold", sans-serif;
  src: url(./Poppins-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Poppins-Bold", sans-serif;
  src: url(./Poppins-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Poppins-ExtraBold", sans-serif;
  src: url(./Poppins-ExtraBold.ttf);
  font-weight: 800;
}
body {
  font-family: "Poppins-Regular", sans-serif;
  background: #e5e5e5;
}

.navbar {
  background-color: transparent;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
}
.navbar.active {
  background-color: #3d5467;
  margin-top: 0;
}
.navbar .container-fluid {
  max-width: 1460px;
}
.navbar .row {
  align-items: center;
}
.navbar #themenavbar {
  margin-left: 7%;
}
.navbar #themenavbar li {
  flex: 0 0 30%;
}
.navbar #themenavbar a {
  color: #fff;
  font-family: "Poppins-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
}
.navbar .icons_list {
  justify-content: flex-end;
  margin-right: 7%;
}
.navbar .icons_list li:not(:last-child) {
  margin-right: 25px;
}

.main__banner {
  background-image: url(./../images/mainbanner.png);
  background-size: cover;
  height: 100vh;
  position: relative;
}
.main__banner .mask {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__banner .mask h1 {
  font-family: "Poppins-Medium", sans-serif;
  font-style: normal;
  font-size: 72px;
  line-height: 100px;
  text-align: center;
  color: #fff;
  position: relative;
}
.main__banner .mask h1:first-of-type {
  margin-top: 15%;
}
.main__banner .mask h1 span {
  z-index: 2;
  position: relative;
}
.main__banner .mask h1 .text_mask {
  position: absolute;
  height: 70px;
  max-width: 1058px;
  background-color: rgba(61, 84, 103, 0.8);
  bottom: 0;
  width: 100%;
  z-index: 1;
}
.main__banner .mask h1:last-of-type .text_mask {
  max-width: 838px;
  margin: auto;
  left: 0;
  right: 0;
}
.main__banner .mask button {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 33px;
  width: 181px;
  height: 49px;
  background-color: #3d5467;
  outline: none;
  border: none;
  color: #fff;
  text-transform: capitalize;
  margin: 13% auto 0;
}

.intro__text {
  margin: 25% auto;
  max-width: 644px;
  height: 121px;
}
.intro__text p {
  color: #3d5467;
  font-family: "Poppins-Regular", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  margin: auto;
  text-align: center;
  letter-spacing: 1px;
}

.globel__designs .img_container {
  position: relative;
  max-width: 1075.32px;
  margin: auto;
}
.globel__designs .img_container .overlay_text {
  position: absolute;
  top: 8rem;
  left: 8rem;
  max-width: 387px;
  color: #fff;
}
.globel__designs .img_container .overlay_text h1 {
  font-family: "Poppins-Medium", sans-serif;
  font-style: normal;
  font-size: 48px;
  line-height: 62px;
}
.globel__designs .img_container .overlay_text p {
  margin-top: 37px;
  font-family: "Poppins-Light", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  max-width: 220.41px;
}
.globel__designs .img_container .icon_heading {
  display: flex;
  align-items: flex-end;
}
.globel__designs .img_container .icon_heading h1 {
  font-weight: 600;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 0;
  color: #3d5467;
}
.globel__designs .img_container .icon_heading ~ p {
  margin-top: 29.7px;
  font-style: normal;
  font-weight: 300 !important;
  font-size: 16px;
  line-height: 24px;
  color: #3d5467;
  width: 260.7px;
}

.left_right_images {
  margin-top: 12rem;
}
.left_right_images .row img ~ p {
  width: 504px;
  font-family: "Poppins-Regular", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #3d5467;
  margin-top: 45px;
}
.left_right_images .container-fluid .row {
  margin-top: 10rem;
}
.left_right_images .text__box {
  font-family: "Poppins-Regular", sans-serif;
  color: #3d5467;
}
.left_right_images .text__box h1 {
  max-width: 427px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
}
.left_right_images .text__box p {
  width: 424px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.left_right_images .text__box p:first-of-type {
  margin-top: 50px;
}

.explore__spaces {
  margin-top: 13rem;
}
.explore__spaces h1 {
  font-family: "Poppins-Regular", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #3d5467;
  margin-bottom: 5rem;
}
.explore__spaces .space__box img {
  max-width: 410px;
  height: 375px;
  object-fit: cover;
}
.explore__spaces .space__box p {
  margin-top: 10px;
}
.explore__spaces .space__box p a {
  font-family: "Poppins-Medium", sans-serif;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 16px;
  line-height: 24px;
  color: #3d5467;
  text-decoration: none;
}

footer {
  padding-top: 10rem;
}
footer .footer_box {
  background-color: #3d5467;
  padding: 2rem;
}
footer .footer_box p {
  font-family: "Poppins-Medium", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #f1edee;
}
footer .footer_box ul {
  list-style: none;
  padding-left: 0;
  font-family: "Poppins-Regular", sans-serif;
}
footer .footer_box ul a {
  text-decoration: none;
  color: #f1edee;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
footer .footer_box .social_list {
  display: flex;
}
footer .footer_box .social_list li:not(:last-child) {
  margin-right: 21.9px;
}
footer .footer_box input {
  background: #c4c4c4;
  height: 29px;
  margin-bottom: 22px;
  border-radius: 0;
  border: 0;
}
footer .footer_box input ~ button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 33px;
  background: #c4c4c4;
  border: 0;
  border-radius: 0;
  width: 131.41px;
  font-family: "Poppins-Medium", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.sponsors__box {
  margin-top: 5rem;
}
.sponsors__box h1 {
  font-family: "Poppins-Regular", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  margin-bottom: 0rem;
}
.sponsors__box .logo__box {
  height: 200px;
  display: flex;
  align-items: center;
}
.sponsors__box .logo__box img {
  max-width: 100%;
  height: auto;
}

/*# sourceMappingURL=customspace.css.map */
